################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*/bin/Debug
*/bin/Release
*obj/
/.vs
/TeslaLogger/obj/Release
packages
*.user
/-container
teslalogger-*
TeslaLogger/bin/car_settings.xml
TeslaLogger/bin/cmd_updated.txt
TeslaLogger/bin/git/
TeslaLogger/bin/mono_crash.*
TeslaLogger/bin/current_json.txt
TeslaLogger/bin/nohub.out
TeslaLogger/bin/tesla_token.txt
TeslaLogger/bin/MQTTClient.exe.config
TeslaLogger/bin/tmp/*
TeslaLogger/bin/view_trip.txt
TeslaLogger/bin/GeocodeCache.xml
TeslaLogger/bin/TeslaLogger.exe.config
*.bak
TeslaLogger/bin/nohup.out
TeslaLogger/GrafanaDashboards/*
TeslaLogger/bin/VERSION
TeslaLogger/bin/geofence-private.csv
TeslaLogger/bin/nohup.out
TeslaLogger/bin/SRTM-Data/*
TeslaLogger/bin/settings.json
.DS_Store
.axoCover/settings.json
TeslaLogger/bin/Exception/*
TeslaLogger/bin/DISPLAY_NAME
TeslaLogger/bin/MySql.Data.EntityFramework.xml
TeslaLogger/bin/MySQL.Data.EntityFrameworkCore.xml
TeslaLogger/bin/MySql.Data.xml
TeslaLogger/bin/MySql.Web.xml
TeslaLogger/bin/TASKERTOKEN
TeslaLogger/bin/weather.ini
