################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*/bin/Debug
*/bin/Release
*obj/
/.vs
/TeslaLogger/obj/Release
packages
*.user
/.idea
teslalogger-database/*
*/TeslaLogger.exe.config

TeslaLogger/bin/view_trip.txt
TeslaLogger/bin/tesla_token.txt
TeslaLogger/bin/current_json.txt
TeslaLogger/bin/cmd_updated.txt
TeslaLogger/bin/car_settings.xml
TeslaLogger/bin/TeslaLogger.exe.config

TeslaLogger/bin/backup.sh
TeslaLogger/bin/geofence.csv
TeslaLogger/bin/backup.sh
TeslaLogger/bin/git/*
TeslaLogger/bin/language*.txt
TeslaLogger/bin/mono_crash.*
TeslaLogger/bin/MQTTClient.exe.config
TeslaLogger/bin/tmp/*
TeslaLogger/bin/git/
TeslaLogger/bin/TeslaLogger.exe
TeslaLogger/bin/nohub.out
