<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TeslaLogger.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TeslaLogger.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <TeslaLogger.ApplicationSettings>
      <setting name="TeslaName" serializeAs="String">
        <value />
      </setting>
      <setting name="TeslaPasswort" serializeAs="String">
        <value />
      </setting>
      <setting name="DBConnectionstring" serializeAs="String">
        <value />
      </setting>
      <setting name="Car" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeepOnlineMinAfterUsage" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="SuspendAPIMinutes" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="UseMQTT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MapQuestKey" serializeAs="String">
        <value />
      </setting>
      <setting name="TaskerPrefix" serializeAs="String">
        <value />
      </setting>
      <setting name="SleepPosition" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="RacingMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseScanMyTesla" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36</value>
      </setting>
      <setting name="VerboseMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExceptionlessServerUrl" serializeAs="String">
        <value>http://home.pogea.de:5002</value>
      </setting>
      <setting name="SQLTrace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExceptionlessApiKey" serializeAs="String">
        <value>Fr6JebtLWFka4nFwGXSkZAYEXIKCXn6AYGJb1mzt</value>
      </setting>
    </TeslaLogger.ApplicationSettings>
  </applicationSettings>
  <exceptionless apiKey="Fr6JebtLWFka4nFwGXSkZAYEXIKCXn6AYGJb1mzt" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.15.0.0" newVersion="3.15.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>