<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeslaLogger.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeslaLogger.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <TeslaLogger.ApplicationSettings>
            <setting name="TeslaName" serializeAs="String">
                <value />
            </setting>
            <setting name="TeslaPasswort" serializeAs="String">
                <value />
            </setting>
            <setting name="DBConnectionstring" serializeAs="String">
                <value />
            </setting>
            <setting name="Car" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeepOnlineMinAfterUsage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SuspendAPIMinutes" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="UseMQTT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapQuestKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskerPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="SleepPosition" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="RacingMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseScanMyTesla" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>curl/2.7</value>
            </setting>
            <setting name="VerboseMode" serializeAs="String">
                <value>False</value>
            </setting>
        </TeslaLogger.ApplicationSettings>
    </applicationSettings>
</configuration>
