[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
Core/Output*/
UI/Output*/
UI/WinForms/Output*/
Data/Oracle/Output*/
Data/PostgreSQL/Output*/
Data/Redis/Output*/
Data/SQLServer/Output*/
Data/SQLite/Output*/
Core/OsmSharp.UnitTests/test-results*/
*.userprefs
Output*/
OutputAndroid*/
OutputWindowsPhone*/
*.psess
test-results*/
*.vsp
.DotSettings
*.vspx
*.patch
TestResults*/

packages/*
!packages/repositories.config
.vs/*

TestResult*.xml
*.routerdb
*.osm.pbf

*.shp
*.dbf
*.shx
*.shx
*.hgt.zip
srtm-cache*/


islands_*.geojson