<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Exceptionless" version="6.0.3" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.2.8" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="2.2.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Selenium.WebDriver.ChromeDriver" version="98.0.4758.10200" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="6.0.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>