<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.2.8" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="2.2.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="98.0.4758.10200" targetFramework="net452" />
</packages>