grpc-stubs==1.53.0.5 ; python_version >= "3.12" and python_version < "4.0"
grpcio==1.67.1 ; python_version >= "3.12" and python_version < "4.0"
protobuf==5.29.1 ; python_version >= "3.12" and python_version < "4.0"
